body {
  margin: 0;
}

div {
  display: flex;
  border: 1px solid black;
  margin: 20px;
  /*height: 100px;*/
  /*width: 100%;*/
  /*align-items: baseline;
  align-content: center;
  justify-content: flex-start;*/
}
div > div {
  flex: 1;
  border: 1px solid red;
  /*width: 100%;*/
  margin: 10px;
  height: 80px;
}
.centerrow {
  flex: 4;
}

#bottomleft {
  margin-right: 20%;
  width: 20%;
}
#bottomcenter {
  /*margin-right: auto;
  margin-left: auto;*/
  width: 20%;
}
#bottomright {
  margin-left: 20%;
  width: 20%;
}
/*.bottomrow {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  align-items: baseline;
  align-content: center;
  justify-content: flex-start;
}*/
