
<!-- form_page.html for jokes project -->

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Joke Submit Form</title>
    <link rel="stylesheet" href="{% static 'jokes/style.css' %}">
  </head>
  <body>
    <h1>Hi, {{ name }}!</h1>
    <p>Enter joke setup and punchline and click submit</p>
    <form action="/jokes/submit/" method="post">
        {% csrf_token %}
        <h3>enter joke setup</h3>
        <textarea name="setup_text"></textarea>
        <h3>enter joke punchline</h3>
        <textarea name="punchline_text"></textarea>
        <input type="submit">
    </form>
  </body>
</html>


<!-- <form action="/jokes/submit/" method="post">
    {% csrf_token %}
    <textarea name="comment_text"></textarea>
    <input type="submit">
</form> -->

<!-- {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Comment Form</title>
        <link rel="stylesheet" href="{% static 'comments/style.css' %}">
    </head>
    <body>
        <h1>Post a comment:</h1>
        <form action="/form/submit" method="post">
            {% csrf_token %}
            <textarea name="comment_text"></textarea>
            <input type="submit">
        </form>
    </body>
</html> -->
