<!-- 'index' page to show all jokes after submit for joke project -->


{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Comment Form</title>
        <link rel="stylesheet" href="{% static 'jokes/style.css' %}">
    </head>
    <body>
        <h1>Comments</h1>
        <a href="{% url 'form_page' %}">Post a joke</a>
        <section>
          {% for setup_text in setups %}
          <div>
              <blockquote>{{ setup_text }}</blockquote>
          </div>
          {% endfor %}
          {% for punchline_text in punchlines %}
          <div>
            <blockquote class="showpunchlines" id="punchlines" hidden>{{ punchline_text }}</blockquote>
            <button name="button" onclick="showpunchlines.visible">Click to show punchline</button>
          </div>
          {% endfor %}
        </section>
    </body>
</html>
